

<div class="form-style-5">
  <input type="submit" (click)="toggleEdit()" value="Toggle Edit">
</div>

<div *ngIf="displayEdit" class="form-style-5">
  <form>
  <fieldset>
  <legend><span>{{title}}</span></legend>
  <legend><span class="number">1</span>{{action}}</legend>
  <label for="name">Name:</label>
  <textarea>{{user.name}}</textarea>
  <label for="name">age:</label>
  <textarea>{{user.age}}</textarea>
  <label for="name">Favorite Color:</label>
  <textarea>{{user.favoriteColor}}</textarea>
  <label for="job">Interests:</label>
  <textarea type="text">{{user.interests}}</textarea>
  </fieldset>
  <fieldset>
  <legend><span class="number">2</span> Additional Info</legend>
  <textarea>{{user.additionalInfo}}</textarea>
  </fieldset>
  </form>
</div>
  
<div *ngIf="!displayEdit" class="form-style-5">
  <form #profileForm = "ngForm" (ngSubmit) = "saveChanges(profileForm)">
  <fieldset>
  <legend><span>{{title}}</span></legend>
  <legend><span class="number">1</span>{{action}}</legend>

  <label for="name">Name:</label>
  <input type="text" name="name" id="name" [(ngModel)] = "user.name" >
  <label for="age">Age:</label>
  <input type="text" name="age" id="age" [(ngModel)] = "user.age" >
  <label for="favoriteColor">Favorite Color:</label>
  <input type="text" name="favoriteColor" id="favoriteColor" [(ngModel)] = "user.favoriteColor" >

  <label for="job">Interests:</label>
  <select id="job" name="job" [(ngModel)] = "user.interests">
  <optgroup label="Indoors">
    <option value="fishkeeping">Fishkeeping</option>
    <option value="reading">Reading</option>
    <option value="boxing">Boxing</option>
    <option value="debate">Debate</option>
    <option value="gaming">Gaming</option>
    <option value="snooker">Snooker</option>
    <option value="other_indoor">Other</option>
  </optgroup>
  <optgroup label="Outdoors">
    <option value="football">Football</option>
    <option value="swimming">Swimming</option>
    <option value="fishing">Fishing</option>
    <option value="climbing">Climbing</option>
    <option value="cycling">Cycling</option>
    <option value="other_outdoor">Other</option>
  </optgroup>
  </select>      
  </fieldset>
  <fieldset>
  <legend><span class="number">2</span> Additional Info</legend>
  <textarea name="additionalInfo" id="additionalInfo" [(ngModel)]="user.additionalInfo" placeholder="About Your School"></textarea>
  </fieldset>
  <input type="submit" value="Save Changes"/>
  </form>
</div>

